!!! 5
head
  block head
    meta(charset='utf-8')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    script(src='/socket.io/socket.io.js')

    script.
      var dojoConfig = {async: true, parseOnLoad:true, packages:[{name: 'dijit', location: '/js/dijit'}, {name: 'chaudono', location: '/js/chaudono'}], tlmSiblingOfDojo: false, isDebug: true};
    script(src='/js/dojo/dojo.js')

body(class='claro')
  block body

